* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    font-family: arial;
}

.menu {
    display: flex;
    color: white;
    font-size: 25px;
}

.menu li {
    margin-left: 20px;
    list-style: none;
}

.menu li a {
    color: white;
}
.container{padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 25px;

}
.imagem1{
    
}




footer {
    position: absolute;
    padding: 20px 0;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: black;

}

.rodape {
    margin-left: 25px;
    list-style: none;
    color: black;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 25px;

}

.final {
    display: flex;
    color: white;
    font-size: 25px;

}

.final li {
    margin-left: 20px;
    list-style: none;
}
.linkGithub{
    font-family: Arial;
}
.tabela{
    font-family:Arial ;
}